numpy==1.21.5
pandas==1.4.1
prettytable==3.3.0
scikit-learn==1.0.2
tdqm==4.64.1
torch==1.12.1

name: bacteria

channels:
  - conda-forge
  - pytorch

dependencies:
- python=3.9
- pytorch::pytorch=1.12.1
- pytorch::torchvision=0.13.1
- matplotlib
- numpy=1.21.5
- pandas=1.4.1
- tqdm
- scikit-learn=1.0.2
- conda-forge::prettytable=3.3.0
